/* add home page styles here */


header {
    background-color: #e52521;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#header-stats {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: #fbd000;
    border: 3px solid black;
    border-style: inset;
    box-shadow: var(--shadow);
    padding: 6px;
}


body {
    background-color: #fbd00060;
    background-image: url('../assets/map2.gif');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 80%;
    position: fixed;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}


h1 {
    display: flex;
    justify-self: center;
    font-size: 2.5rem;
    text-shadow: -2px 0 #fbd00080, 0 2px #fbd00080, 2px 0 #fbd00080, 0 -2px #fbd00080;
}


a {
    color: black;
    text-decoration-line: none;
    font-weight: bold;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;
}

a:visited {
    font-style: italic;
}

a:hover {
    color: #e52521;
    text-decoration: underline;
}





