

header {
    background-color: #e52521;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-shadow: var(--shadow);
}

#header-stats {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    background-color: #fbd000;
    border: 3px solid black;
    border-style: inset;
    box-shadow: var(--shadow);
    padding: 6px;
}

body {
    background-color: #fbd00060;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

h1 {
    display: flex;
    justify-content: flex-start;
}
