/* add home page styles here */
body {
    width: 100%;
    height: auto;
}

header {
    background-color: #e52521;
    display: flex;
    align-items: center;
    height: var(--header-height);
    box-shadow: var(--shadow);
    width: 100%;
}

h1 {
    display: flex;
    justify-self: center;
    font-size: 2rem;
    text-shadow: -2px 0 #fbd00080, 0 2px #fbd00080, 2px 0 #fbd00080, 0 -2px #fbd00080;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbd00060;
    background-image: url('../assets/mario-title.jpeg');
    background-repeat: no-repeat;
    background-size: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}


#radio-div {
    display: flex;
    flex-direction: row;
    margin: 55px;
    margin-bottom: 0px;
    padding: 35px;
    justify-content: space-evenly;
}

#player-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: 125px;
}

#name {
    display: flex;
    justify-content: flex-start;
    align-self: center;
    margin: 25px;
}

h6 {
    display: flex;
    justify-content: center;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

input {
    height: 35px;
    width: 180px;
    border-style: inset;
    padding: 10px;
    /* margin-right: 65px; */
    margin-top: -10px;
}

button {
    /* display: flex;
    justify-content: ; */
    /* align-self: center; */
    background-color: transparent;
    background-image: url('../assets/Mushroom - Life.png');
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: 0px 0px; */
    /* text-indent: -50px;
    text-align: center;
    font-style: italic;
    font-size: 20px; */
    height: 150px;
    width: 150px;
    /* margin: 50px; */
    padding: 10px;
    position: static;
}

button {
    /* outline: solid 2px #fbd000; */
    border: none;
    margin: 0.5em;
    filter: drop-shadow(-20px -20px 30px #00000070);
}

button:hover {
    border-radius: 50%;
    background-color: #fbd000;
    box-shadow: 
        0 0 15px 5px #fbd000,
        0 0 30px 10px #fbd000,
        0 0 50px 15px #fbd000;
    filter: drop-shadow(-20px -20px 30px #00000070);
}

[type = radio] {
    display: none;
    background-color: transparent;
    filter: drop-shadow(15px 10px 8px #00000070);
}


[type = radio]:checked + .character-image {
    border: solid 4px #049cd8;
    border-style: inset;
    border-radius: 20%;
    background-color: #fbd00090;
    box-shadow:
        0 0 5px 5px #fbd000,
        0 0 7px 10px #fbd000,
        0 0 9px 15px #fbd000;
    filter: drop-shadow(15px 10px 8px #00000070);
}


[type = radio]:hover + .character-image {
    border: solid 4px #e52521;
    border-style: inset;
    border-radius: 20%;
    background-color: #43b04790;
    box-shadow:
        0 0 5px 5px #43b04790,
        0 0 7px 10px #43b04790,
        0 0 9px 15px #43b04790;
    filter: drop-shadow(15px 10px 8px #00000070);
}

img {
    height: 150px;
    padding: 10px;
    margin: 20px;
    margin-bottom: 7px;
    border-radius: 20%;
    background-color: transparent;
    filter: drop-shadow(15px 10px 8px #00000070);
}


